@font-face {
  font-family: nunito;
  src: url("./fonts/Nunito-Regular.ttf");
}
@font-face {
  font-family: nunito-b;
  src: url("./fonts/Nunito-SemiBold.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nunito;
  font-weight: 400;
}

html,
body {
  min-height: 100vh;
}

html {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(30, 58, 124);
  background-image: url("./pages/assets/wallpaper/javier-martinez-hUD0PUczwJQ-unsplash.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  font-family: nunito;
}

/* nav */

.links {
  display: flex;
  height: 70px;
  background: #00d9e840;
  box-shadow: 0 5px 5px #ffffff41;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

.link,
.authed-user-section,
.authed-user-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.link,
.authed-username {
  color: white;
  font-size: 19px;
  padding: 5px 20px;
  background-color: #00b8c57c;
  border-radius: 5px;
  border: 2px #caeef0 solid;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
}

/* Login */

.login-wrapper {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container {
  width: calc(100% - 40px);
  max-width: 400px;
  height: 350px;
  border-radius: 20px;
  padding: 40px 20px;
  background-color: white;
  box-shadow: 0 0 10px #ffffff41;
}

.login-title {
  font-size: 30px;
  font-weight: bold;
}

.avatar-container {
  display: flex;
  align-items: center;
}

.avatar,
.authed-avatar {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-size: contain;
  margin-right: 5px;
}

.react-icon,
.authed-avatar {
  margin-right: 10px;
}

button {
  width: 100%;
  height: 50px;
  /* background-color: #712a90; */
  background-color: #00b8c5;
  outline: none;
  border: none;
  color: white;
  text-align: center;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

hr {
  border-top: 1px #f1f7ff solid;
  margin: 20px 0;
}

.login-button {
  margin: 20px 0;
  border-radius: 5px;
  font-size: 18px;
}

/*display question */
.question-container {
  display: flex;
  width: 500px;
  height: 100px;
  box-shadow: 5px, 5px, 5px, rgba(0, 0, 0, 0.5);
  background-color: rgb(222, 135, 135);
  margin: 20px;
}
.header-container {
  background-color: rebeccapurple;
  color: white;
}
img {
  width: 50px;
  height: auto;
}

/*Poll Result */
.poll-result-container {
  position: relative;
}
.votes-bar-container {
  width: 500px;
  background-color: silver;
}
.votes-bar {
  background-color: blue;
  color: white;
  animation: slide 1s linear;
}
.votes-percentage {
  margin: auto;
  width: fit-content;
}

@keyframes slide {
  0% {
    width: 0;
  }
}
